body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #222;
  padding: 20px;
}

section {
  padding: 40px 20px;
  border-bottom: 1px solid #333;
}

.project a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: gold;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  background-color: #222;
  padding: 20px;
  font-size: 14px;

}

html {
  scroll-behavior: smooth;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #333;
  padding: 1rem;
}
